  <div class="rectangle">
    <ion-icon id="closeBtn" name="close" [routerLink]="['/tabs/tab2']"></ion-icon>

    <div class="container">
      <div class="content">
        <h2 class="header"><b><u>RECOVERY</u></b></h2>
        <h2>Recovery After Workout:</h2>
        <ul>
          <li>Ensure to cool down properly after your workout session by engaging in gentle stretches or low-intensity exercises.</li>
          <li>Hydrate adequately to replenish lost fluids and aid in muscle recovery.</li>
          <li>Get sufficient rest and sleep to allow your body to repair and rebuild muscle tissues.</li>
          <li>Consider incorporating foam rolling or massage therapy to alleviate muscle soreness and improve flexibility</li>
          <li>Consume a balanced post-workout meal containing protein and carbohydrates to refuel your body and support muscle recovery.</li>
        </ul>
        <h2 class="header"><b><u>INJURY</u></b></h2>
        <h2>Preventing Injury During Workout:</h2>
        <ul>
          <li>Always warm up before starting your workout to increase blood flow to your muscles and reduce the risk of injury.</li>
          <li>Focus on maintaining proper form and technique throughout your exercises to avoid strain or overexertion</li>
          <li>Gradually increase the intensity and duration of your workouts to prevent sudden spikes in stress on your body.</li>
          <li>Listen to your body's signals and avoid pushing through pain or discomfort, as this can lead to injury.</li>
          <li>Incorporate cross-training and rest days into your routine to prevent overuse injuries and allow for recovery.</li>
        </ul>
      </div>
    </div>
    
