#backBtn{
    color: #AF1B34;
    font-size:48px;
    position: absolute;
    top: 0;
    left: 0;
}

.notificationTxt {
    color: #000000;
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
}

#envelopeIcon{
    font-size: 300px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    color: #DEC236;
}    

.time {
    color: black;
    font-size: 18px;
}

.quote {
  font-size: 16px;
}

.custom-row ion-col {
    margin-right: 50px;
  }
  
    .custom-row ion-col:last-child {
      margin-right: -20px;
    }

  .custom-row ion-col:first-child {
    margin-left: 10px;
  }

  .custom-row::after {
    content: "-----------------------------------------------------------------------";
    display: block;
    border-top: 3px solid #000;
    margin: 5px 0;
  }

  #hLine::before {
    content: "-----------------------------------------------------------------------";
    display: block;
    border-top: 3px solid #000;
    margin: 5px 0;
  }

  .container {
    position: relative;
  }
  
  #clearBtn {
    --ion-color-primary: #F10234;
    color: #000;
    width: 150px;
    font-size: 20px;
    margin: 0 auto; /* Center the button */
    display: block; /* Ensure it takes up full width */
    position: absolute; /* Position relative to its container */
    bottom: 30px; /* Adjust vertical position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal centering */
  }
  